---
title: Delaware River Project
---

<figure class="image">
  <img src="/images/mirror_point.jpg" alt="Looking across the Delaware River to New Jersey" height="768" width="1024" />
  <figcaption>
    iPhone 11 Pro // 13mm equiv. // 1/396 sec // f/2.4 // ISO 20 Williams Township, PA, looking across the Delaware River to Warren County, New Jersey.
  </figcaption>
</figure>

<p>
  Exploring the Delaware River, Delaware Bay, and the extended Delaware watershed through photography, essays, and data.
</p>
